body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

form {
  background-color: #1346F4;
  margin: auto;
  width: 50%;
  padding: 10px;
}

li {
  border-style: outset;
  color: #FD7A19;
  font-weight: bold;
}

ul {
  list-style-type: none;
}